<style>
    .map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
$(document).ready(function() {
    var Mode;
    $(".dropdown-menu li a").click(function() {
        if ($(this).parents("#_dropdown").find('.btn').length > 0) {
            $(this).parents("#_dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
            Mode = $(this).data('value');
        }
    });

    $("#submit").click(function() {
        var sJson = JSON.stringify({
            "Departure": $("#_destination").val(),
            "Mode": Mode
        });

         Swal.fire({
            title: '收巡路徑',
            text: '請等待...',
            type: 'warning',
            showCancelButton: false,
            confirmButtonColor: '#d33',
            confirmButtonText: 'Search',
            showLoaderOnConfirm: true,
            preConfirm: function() {
                return new Promise(function(resolve) {
                     $.ajax({
                        url: 'http://127.0.0.1:8000/api/execGoogleApiTask',
                        type: "post",
                        timeout: 5000,
                        data: sJson,
                        contentType: 'application/json; charset=utf-8',
                        success: function(result) {
                            SetDirectionTimer(result.task_id, resolve);
                        },
                        complete: function(data) {},
                        error: function(data) {
                        }
                    });
                });
            },
            allowOutsideClick: false
        }).then((result) => {
           Swal.fire({
               type: 'success',
               title: 'Ajax请求完成！',
           });
        });
    });
})

function SetDirectionTimer(taskId, resolve) {
    var timer = setInterval(function() {
        $.ajax({
            url: 'http://127.0.0.1:8000/api/getResult/' + taskId,
            type: "GET",
            success: function(response) {
                var taskStatus = response.task_status;
                if (taskStatus === 'SUCCESS') {
                    clearTimer();
                    setMaps(response.results);
                    resolve('okay');
                } else if (taskStatus === 'FAILURE') {
                    clearTimer();
                }
            },
            error: function(err) {
                console.log('err', err);
                clearTimer();
            }
        });
    }, 1000);

    function setMaps(resp) {
        // 繪製路線
        result = JSON.parse(resp);
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: {
                lat: 25.034010,
                lng: 121.562428
            }
        });
        // Create a renderer for directions and bind it to the map.
        var directionsRenderer = new google.maps.DirectionsRenderer({
            map: map
        });
        var steps = result.routes[0].legs[0].steps;
        var markers = [];
        var infowindows = [];
        steps.forEach((e, i) => {
            // 加入地圖標記
            markers[i] = new google.maps.Marker({
                position: {
                    lat: e.start_location.lat,
                    lng: e.start_location.lng
                },
                map: map,
                label: {
                    text: i + '',
                    color: "#fff"
                }
            });
            // 加入資訊視窗
            infowindows[i] = new google.maps.InfoWindow({
                content: e.instructions,
                maxWidth: 200,
                pixelOffset: new google.maps.Size(100, -20)
            });
            // 加入地圖標記點擊事件
            markers[i].addListener('click', function() {
                if (infowindows[i].anchor) {
                    infowindows[i].close();
                } else {
                    infowindows[i].open(map, markers[i]);
                }
            });
        });
        directionsRenderer.setDirections(result);
    }

    function clearTimer() {
        console.log('close Timer');
        clearInterval(timer);
    }
}
</script>
<section id="restaurant_section" style="margin-right:30px;margin-left:30px;">
    <!--Section heading-->
    <div class="page-header">
        <h2><label style="color:#F75000;">宴客餐廳資訊</label><small> via Google Maps tech</small></h2>
    </div>
    <!--Section description-->
    <div class="row">
        <!--Grid column-->
        <div class="col-lg-5 mb-5">
            <!--Form with header-->
            <div class="card card-default">
                <div class="card-header"><label>餐廳路線規劃</label></div>
                <div class="card-body">
                    <div class="row" style="margin-right:30px;margin-left:30px;">
                        <div class="input-group input-group-lg">
                            <label class="input-group-addon" for="_destination">出發地址</label>
                            <input type="text" class="form-control" id="_destination" placeholder="出發地"
                                   aria-label="destination" aria-describedby="basic-addon1" required>
                        </div>
                        <br/>
                        <div class="input-group input-group-lg">
                            <label class="input-group-addon">交通工具</label>
                            <div class="input-group-btn" id="_dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" id="_drop_down"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">類型
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#restaurant" data-value="DRIVING">客車</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#restaurant" data-value="TRAIN">火車</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#restaurant" data-value="BUS">客運</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </div><!-- /.row -->
                </div>
                <div class="card-footer">
                    <a href="#restaurant" id="submit" class="btn btn-primary btn-lg btn-block buy-now">
                        Let's GO
                        <span class="glyphicon glyphicon-triangle-right"></span>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <a class="glyphicon glyphicon-map-marker text-center" style="font-size:30px;color:#8F4586;"></a>
                    <br/>
                    <p style="font-size:20px; color:#8F4586">San Francisco, CA 94126</p>
                </div>
                <div class="col-md-6">
                    <a class="glyphicon glyphicon-earphone text-center" style="font-size:30px;color:#8F4586;"></a>
                    <br/>
                    <p style="font-size:20px; color:#8F4586">+ 01 234 567 89</p>
                </div>
            </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-7">
            <div class="card card-default">
                <!--Google map-->
                <div id="map" style="height: 400px"></div>
            </div>
        </div>
        <!--Grid column-->
    </div>
</section>
<script>
var map;
function initMap() {
    // 載入路線服務與路線顯示圖層
    var directionsDisplay = new google.maps.DirectionsRenderer();
    // 初始化地圖
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: { lat: 25.034010, lng: 121.562428 }
    });
    // 放置路線圖層
    directionsDisplay.setMap(map);
}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE82IF6E9BIvSxZAF3jpPjPpQkr-oOuSs&callback=initMap">
</script>