<section id="restaurant_section" style="margin-right:60px;margin-left:60px;">
    <!--Section heading-->
    <div class="page-header">
        <h2><label style="color:#F75000;">宴客餐廳資訊</label><small> via Google Maps tech</small></h2>
    </div>
    <!--Section description-->
    <div class="row">
        <!--Grid column-->
        <div class="col-lg-5 mb-5">
            <!--Form with header-->
            <div class="card card-default">
                <div class="card-header"><label>餐廳路線規劃</label></div>
                <div class="card-body">
                    <div class="row" style="margin-right:30px;margin-left:30px;">
                        <div class="input-group input-group-lg">
                            <label class="input-group-addon" for="_destination">出發地址</label>
                            <input type="text" class="form-control" id="_destination" placeholder="出發地"
                                   aria-label="destination" aria-describedby="basic-addon1" required>
                        </div>
                        <br/>
                        <div class="input-group input-group-lg">
                            <label class="input-group-addon">交通工具</label>
                            <div class="input-group-btn" id="_dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" id="_drop_down"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">類型
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#restaurant" data-value="DRIVING">客車</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#restaurant" data-value="TRAIN">火車</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#restaurant" data-value="BUS">客運</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </div><!-- /.row -->
                </div>
                <div class="card-footer">
                    <a href="#restaurant" id="submit" class="btn btn-primary btn-lg btn-block buy-now">
                        Let's GO
                        <span class="glyphicon glyphicon-triangle-right"></span>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <a class="glyphicon glyphicon-map-marker text-center" style="font-size:30px;color:#8F4586;"></a>
                    <br/>
                    <p style="font-size:20px; color:#8F4586">San Francisco, CA 94126</p>
                </div>
                <div class="col-md-6">
                    <a class="glyphicon glyphicon-earphone text-center" style="font-size:30px;color:#8F4586;"></a>
                    <br/>
                    <p style="font-size:20px; color:#8F4586">+ 01 234 567 89</p>
                </div>
            </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-7">
            <div class="card card-default">
                <!--Google map-->
                <div id="map" style="height: 400px"></div>
            </div>
        </div>
        <!--Grid column-->
    </div>
</section>
<script>
var map;
function initMap() {
    // 載入路線服務與路線顯示圖層
    var directionsDisplay = new google.maps.DirectionsRenderer();
    // 初始化地圖
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: { lat: 25.034010, lng: 121.562428 }
    });
    // 放置路線圖層
    directionsDisplay.setMap(map);
}

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE82IF6E9BIvSxZAF3jpPjPpQkr-oOuSs&callback=initMap">
</script>