<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="page-header" style="margin:0px 0 20px">
        <h3><label style="color:#F75000;">貴賓登記</label></h3>
    </div>
    <div class="card card-default">
        <div class="card-body">
            <ul class="list-group-flush">
                <li class="list-group-item">
                    <div class="input-group">
                        <label class="input-group-addon" for="_nameInput">姓名</label>
                        <input type="text" class="form-control" id="_nameInput" placeholder="Username"
                               aria-label="Username"
                               aria-describedby="basic-addon1" autocomplete="off" required>
                        <div class="input-group-btn" id="_dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">性別
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right"
                                aria-labelledby="dropdownMenu1">
                                <li><a href="#statistics" data-value="sir">先生</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#statistics" data-value="lady">小姐</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
                            E-Mail
                        </span>
                        <input type="email" class="form-control" placeholder="Mail"
                               name="email" autocomplete="off" required>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group input-group-xs">
                        <label class="input-group-addon" for="participate_person_amount">
                            貴賓人數
                        </label>
                        <input type="text" class="form-control" id="participate_person_amount" value=1
                               readonly="readonly">
                        <div class="input-group-btn custom-control">
                            <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu2"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-plus-sign"></i>人
                                <span class="caret"></span>
                            </button>
                            <ul id="amount_participant" class="dropdown-menu dropdown-menu-right"
                                aria-labelledby="dropdownMenu1">
                                <li><a href="#statistics" data-value=1>1</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#statistics" data-value=2>2</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#statistics" data-value=3>3</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <label class="input-group-addon" for="_WeddingInvitation">
                            <picture>
                                <source srcset="/static/bigday/icon/wedding-letter.webp"
                                        style="width:20px; height:20px">
                                <img src="/static/bigday/icon/wedding-letter.jpg" style="width:20px; height:20px">
                            </picture>
                            喜帖
                        </label>
                        <div class="input-group-btn" id="btn-toggle">
                            <button class="btn btn-default" data-toggle="collapse"
                                    data-target="#collapsible">是
                            </button>
                            <button class="btn btn-success active" data-toggle="collapse"
                                    data-target="#collapsible">否
                            </button>
                        </div>
                    </div>
                    <div class="well collapse" id="collapsible">
                        <div class="input-group">
                            <span class="input-group-addon">
                                地址
                            </span>
                            <input type="text" id="_WeddingInvitation" class="form-control"
                                   placeholder="address" autocomplete="off" required>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <label class="input-group-addon" for="btn-toggle_Relational">
                            <picture>
                                <source srcset="/static/bigday/icon/contact.webp"
                                        style="width:20px; height:20px">
                                <img src="/static/bigday/icon/contact.jpg" style="width:20px; height:20px">
                            </picture>
                            親友
                        </label>
                        <div class="input-group-btn" id="btn-toggle_Relational">
                            <button class="btn btn-default">男方</button>
                            <button class="btn btn-success active">女方</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <label class="input-group-addon"><i
                                class="glyphicon glyphicon-baby-formula"></i>兒童座椅</label>
                        <div class="input-group-btn" id="btn-toggle_HasChild">
                            <button class="btn btn-default">是</button>
                            <button class="btn btn-success active">否</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <span class="input-group-addon" style="display:inline-block;">
                            <picture>
                              <source srcset="/static/bigday/icon/icons8-vegan-food-32.webp"
                                      style="width:20px; height:20px">
                              <img src="/static/bigday/icon/icons8-vegan-food-32.jpg" style="width:20px; height:20px">
                            </picture>
                            <label>吃素</label>
                        </span>
                        <div class="input-group-btn" id="btn-toggle_Vegetable">
                            <button class="btn btn-default">是</button>
                            <button class="btn btn-success">否</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn  btn-success btn-lg btn-block buy-now">
                <i class="glyphicon glyphicon-cloud-upload"></i>送出
            </button>
        </div>
    </div>
</div>