{% extends "base.html" %}
{% load static %}
{% block page_head %}
<!-- Custom CSS -->
<link href="{% static 'bigday/css/card-component.css' %}" rel="stylesheet">
<link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
<link href="{% static 'bigday/css/restuarant.css' %}" rel="stylesheet">
<link href="{% static 'bigday/css/ourStory.css' %}" rel="stylesheet">
<link href="{% static 'bigday/css/boostrap-customer.css' %}" rel="stylesheet">
<link href="{% static 'timeline-master/css/timeline.min.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">GJ Su and YP Chang's婚禮</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#">回上面</a>
                </li>
                <li>
                    <a class="page-scroll" href="#story">我們故事</a>
                </li>
                <li>
                    <a class="page-scroll" href="#restaurant">餐廳資訊</a>
                </li>
                <li>
                    <a class="page-scroll" href="#statistics">貴賓資訊統記</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block main %}
<header id="main-header">
    <div class="header-content">
        <div class="header-content-inner">
        </div>
    </div>
</header>
<section class="bg-infos" id="main-header ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">哈嚕!</h2>
                <h1 style="border-bottom: 2px solid red;"></h1>
                <p>
                    各位朋友大家好!我們結婚啦!
                </p>
                <p>
                    如果您正在尋找有關該事件的信息，那就別無所求！ 請參閱以下所有有關的詳細信息 <a href="#event" class="page-scroll">Friday night's
                    welcome party</a> & <a href="#saturday-event" class="page-scroll">Saturday's event</a>.
                </p>
                <p>
                    要添加到婚禮whatsapp 組中，請先創建一個帳戶，然後發送一個發郵件給
                    <a href="mailto:{{ support_email }}">{{ support_email }}</a>
                    另外婚禮哈希標籤的當前領先(如果您喜歡這種事情)#getlukky
                </p>
                <p>
                    Looking forward to seeing everyone soon!
                </p>
                <p class="pull-right">- 國鈞 & 俞霈</p>
            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="navigation">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#story" class="portfolio-box page-scroll">
                    <img src="{% static 'bigday/images/ravine-nav.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Our Story
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#restaurant" class="portfolio-box page-scroll">
                    <img src="{% static 'bigday/images/prince-of-wales-hotel-nav.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Wedding Reception Restaurant's Information
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#statistics" class="portfolio-box page-scroll">
                    <img src="{% static 'bigday/images/twelve-apostles-nav.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Personnel statistics
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="story" class="bg-story no-padding">
    {% include 'partials/story.html' %}
</section>
<section id="restaurant" class="bg-restaurant no-padding">
    {% include 'partials/restaurant.html' %}
</section>
<section id="statistics" class="bg-statistics">
    {% include 'partials/statistics.html' %}
</section>
<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact us</h2>
                <h1 style="border-bottom: 2px solid red;"></h1>
                <p>If you have any questions don't hesitate to reach out!</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% endblock %}
{% block page_js %}
<!-- Easing is for the vertical scroll animations -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'timeline-master/js/timeline.min.js' %}"></script>
<script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
<script src="{% static 'creative/js/creative.js' %}"></script>
<script src="{% static 'bigday/js/restaurant.js' %}"></script>
<script src="{% static 'bigday/js/ourStory.js' %}"></script>
<script src="{% static 'bigday/js/invitationStatistics.js' %}"></script>
{% endblock %}
